__pycache_/

venv/
env/

*.env
*.venv

uploads/*

.vscode/

.DS_Store
Thumbs.db

*.pyc


*.log

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm
*.mp3
*.flac
*.wav
*.m4a
*.ogg