<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width", initial-scale="1.0">	
	<title>File Explorer -MVP</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div class="container mt-5">
		<h1>File Explorer</h1>
		<!--Search Bar-->
		<a href="{{ url_for('logout')}}">Logout</a>
		<h2>Search Results</h2>
		<form method="get" action="/search">
			<div class="input-group mb-3">
				<input type="text" class="form-control" name="query" placeholder="Search files..." aria-label="Search files">
				<button class="btn btn-primary" type="submit">Search</button>
			</div>
		</form>
		<ul>
			{% for file in filtered_files %} 
				<li>
					{{file.name}}	
				</li>
			{% endfor %}
		</ul>
		<form action="/" method="post" enctype="multipart/form-data">
			<input type="file" name="file">
			<button type="submit">Upload</button>
		</form>
		<h2>Uploaded Files</h2>
		<ul>
			{% for file in files %} 
				<li>
					<a href="/uploads/{{file}}">{{file.name}}</a>
					<form action="/delete/{{file['name']}}" method="post" style="display: inline;">
						<button type="submit">Delete</button>
					</form>
				</li>
			{% endfor %}
		</ul>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class="flash-messages">
					{% for category, message in messages %}
						<li class="{{category}}">{{messages}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}

	</div>
	
<script src="https://cdn.jsdeliver.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>